{% extends "base.html" %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        {% for movie in movies %}
            <div class="col-md-6 mb-4">
                <!-- Card container -->
                <div class="card h-100">

                    <a href="{% url 'detail_movie' movie.id %}" class="text-decoration-none text-dark">
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.description|truncatechars:200 }}</p>

                            <!-- Movie Details -->
                            <p class="card-text">
                                <small class="text-muted">
                                    <strong>Released: </strong>{{ movie.released_at }}<br>
                                    <strong>Duration: </strong>{{ movie.duration_hours }}h{{ movie.duration_minutes }}m{{ movie.duration_seconds }}s<br>
                                    <strong>Genre: </strong>{{ movie.genre }}<br>
                                    <strong>Language: </strong>{{ movie.language }}<br>
                                    <strong>Average Rating: </strong>{{ movie.average_rating }} <br>
                                    <strong> Total Ratings: {{ movie.total_ratings }}</strong> <br>
                                    <strong> Created by: </strong> {{ movie.created_by.username }} <br>
                                    <strong> Updated at: </strong> {{ movie.updated_at }} 
                                </small>
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        {% empty %}
            <p>No movies available.</p>
        {% endfor %}
    </div>

    <div class="pagination d-flex justify-content-center mt-4">
        <nav aria-label="Page navigation">
            <ul class="pagination">
                {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page=1" aria-label="First">
                            <span aria-hidden="true">First</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                            <span aria-hidden="true">Previous</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">First</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Previous</span>
                    </li>
                {% endif %}
    
                <li class="page-item disabled">
                    <span class="page-link">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span>
                </li>
    
                {% if page_obj.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                            <span aria-hidden="true">Next</span>
                        </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}" aria-label="Last">
                            <span aria-hidden="true">Last</span>
                        </a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <span class="page-link">Next</span>
                    </li>
                    <li class="page-item disabled">
                        <span class="page-link">Last</span>
                    </li>
                {% endif %}
            </ul>
        </nav>
    </div>
    
</div>
{% endblock content %}
